@import 'general.less';

section#me { position: relative; overflow: hidden;
  .profile { height: 100px; background: @milk; width: 100%; border-top: 1px solid @gray4; border-bottom: 1px solid @gray4;
    .avatar { width: 40%; float: left; margin-top: 12px;
      .image { width: 77px; height: 77px; background: white; border-radius: 38px; border: 1px solid @gray4; margin: auto;
        img { height: 75px; margin: 1px 0 0 1px;}
      }
    }
    .info { width: 60%; float: right; margin-top: 15px;
      .fullname { font-size: 20px;}
      .position { color: @gray1; font-size: 15px;}
      .details{ margin-left: 20px;
        .social { margin-top: 8px;
          img { width: 26px; margin-right: 5px;}
        }
      }
    }
  }

  .monster { background: #ebecec; width: 70%; height: 190px; position: absolute;
    .pipe-wrapper { width: 45%; height: 100%; float: left;
      .value { color: @green; position: absolute; left: 8px;}
      .pointer { position: absolute; left: 38px;}
      .pipe { position: absolute; top: 10px; left: 60px; height: 170px;
        img { width: 40px;
          &.pipe-empty { position: absolute; z-index: 1;}
          &.pipe-mask { position: absolute; z-index: 10;}
        }
        .pipe-water { position: absolute; background: @green; width: 20px; z-index: 5; left: 8.5px; bottom: 17px; border-radius: 0 0 11px 11px;
          .pipe-top { position: absolute; z-index: 6; left: -8.4px; top: -4px;}
        }
      }
    }
    .monster-wrapper { width: 50%; float: right;
      img { width: 99px; margin-top: 30px;}
    }
  }

  .stats { height: 190px; border-bottom: 1px solid @gray4; position: absolute; width: 100%; z-index: 20; background: white;
    .mask { width: 100%; height: 100%; background: transparent; position: absolute; z-index: 30; left: 5px; display: none;}
    .toggle { width: 5px; background: @blue; float: left; height: 100%; cursor: pointer;}
    img { width: 15px; position: absolute; left: 23px; top: 36px;}
    .value { position: absolute; color: @blue-light; font-size: 16px; top: 24px; left: 40px;}
    .circle { border: 3.5px solid @blue-light; width: 50px; height: 50px; position: absolute; border-radius: 38px; left: 12px; top: 12px;}
    .single { position: relative; width: 28%; float: left; margin: 15px 8px 0;
      &.max {
        .value { color: @green; font-size: 13px; left: 35px;}
        .circle { border: 3.5px solid @green;}
      }
    }
    .food { margin-left: 10px;}
    .shopping { margin-left: 18%; margin-top: 5px;}
    .outing {  margin-top: 5px;
      img { width: 26px; top: 41px; left: 19px;}
    }
  }
}